title{
  font-size: 40px;
}
h1{
  text-align: center;
  color:#123C69 ;
  font-family: 'Chango', cursive;
  font-size: 24px;
  text-decoration: underline;

}
p{
  font-size: 16px;
  text-align: center;
  font-family: 'Chango', cursive;
  color: #123c69
  
  
}
body{
  background-color:#EDC7B7;
}

/* nav designing */

.nav_links{
  list-style: none; 
  display: flex;
  flex-direction: column;
  align-items: center;
}
.nav_item a{
  color: black;
  text-decoration: none;
}

.nav_item a:hover, a:focus{
  color: #123C69;
  text-decoration: underline;
  -webkit-text-decoration-style: dashed;
          text-decoration-style: dashed;
}

.current_item a{
  background-color: #AC3B61;
  box-shadow: 1px 1px 1px 1px #ccc;
  color: white;

}

nav{
  background-color: white;
  text-align: center;

}
/* favorites.html*/
.container{
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: auto;
  row-gap: 20px;
  color: #123C69;
}
.workout-one{
  background-color: white;
  border: 10px solid #BAB2B5;
  padding: 30px;
}
.workout-one h2, h3{
  text-align: center;
  color: #AC3B61;
  background-color: white;
}
.workout-two{
  background-color: white;
  border: 10px solid #BAB2B5 ;
  padding: 30px;
}
.workout-two h2, h3{
  text-align: center;
  color: #AC3B61;
}
.workout-three{
  background-color: white;
  border: 10px solid #BAB2B5;
  padding: 30px;
}
.workout-three h2, h3{
  text-align: center;
  color: #AC3B61;
}
.breakfast{
  background-color: white;
  border: 10px solid #BAB2B5;
  padding: 30px;
}
.breakfast h2, h3{
  text-align: center;
  color: #AC3B61;
}

.lunch{
  background-color: white;
  border: 10px solid #BAB2B5	;
  padding: 30px;
}

.lunch h2, h3{
  text-align: center;
  color: #AC3B61;
}

.dinner{
  background-color:white;
  border: 10px solid #BAB2B5;
  padding: 30px;
}

.dinner h2, h3{
  text-align: center;
  color: #AC3B61;
}
.currentlink{
  color: pink;
}
.myadvice{
  color: #123C69;
  text-align: start;
  margin: 20px;
  
}
.skip a{
  color: black;
}